body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: linear-gradient(rgb(3, 3, 67, 0.8), rgba(0,0,50,0.8)), url(bgimage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
  
  .container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(247, 242, 242);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .form-container {
    margin-bottom: 20px;
   
  }
  .row1{
    display: flex;
    
  }
  .row2{
    display: flex;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    
  }
  
  select,
  input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 7px 7px 7px 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background-color: rgb(255, 145, 0);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: rgb(233, 179, 108);
  }
  
  #result {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }

  





  .info{
    max-width: 600px;
    margin:auto;
    
    border-radius: 8px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: center;
    color: #faf3f3;
    
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead th {
    background-color:rgb(255, 145, 0);
    padding: 10px;
    text-align: left;
  }
  
  tbody td {
    border-top: 1px solid #ddd;
    padding: 10px;
    color: #faf3f3;
  }
  
  tbody td:first-child {
    font-weight: bold;
  }